@font-face {
    font-family: "Space Grotesk";
    src: url("../font/SpaceGrotesk-VariableFont_wght.ttf");
}

a {
    color: #d3d3d3;
    text-decoration: none;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

a:hover {
    background-color: rgba(80, 80, 80, 0.8);
    color: #ffffff;
}

body {
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

div.footer {
    position: fixed;
    width: 100%;
}

div.navbar {
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(88, 88, 88, 0.8);
    color: #f0f0f0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.navbar li {
    border-radius: 5%;
    padding: 1em;
}

div.navbar li:hover {
    transform: scale(1.1);
}

div.navbar ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

div.portfolio p {
    box-shadow: 10px 5px 5px red;
}

footer {
    background-image: url("../img/footer.jpg");
    bottom: 0;
    color: darkseagreen;
    text-align: center;
    width: 100%;
}

h1 {
    border-radius: 5%;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 1px currentColor;
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out;
    transform-origin: left top;
}

h1:hover {
    transform: scale(1.1);
}

li,
ul {
    font-weight: 700;
}

p {
    font-family: "Space Grotesk", sans-serif;
    line-height: 1.1em;
    text-align: justify;
}

p::first-letter {
    font-size: larger;
    font-weight: bold;
}

.address,
.assignment,
.introduction,
.portfolio,
.schedule {
    backdrop-filter: blur(5px);
    background-color: rgba(60, 60, 60, 0.8);
    border-radius: 1vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #f0f0f0;
    margin: 1em;
    padding: 1em;
}

.introduction #picture {
    border-radius: 50%;
    height: 20em;
    width: 20em;
}

.introduction h1 {
    flex: 1;
    margin-right: 20px;
}

.schedule table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
    font-size: 1em;
    font-family: Arial, sans-serif;
    table-layout: fixed;
}

.schedule th {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.schedule td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
    word-wrap: break-word;
}

.schedule tr:nth-child(even) {
    background-color: #f2f2f2;
}

.schedule {
    overflow-x: auto;
}

.schedule td.astronomy {
    background-color: burlywood;
    color: black;
}

.schedule td.art-history {
    background-color: aquamarine;
    color: black;
}

.schedule td.web-development {
    background-color: crimson;
    color: white;
}

.schedule td.data-structures {
    background-color: tomato;
    color: white;
}

.schedule tr:nth-child(even) td:first-child {
    background-color: #f2f2f2;
    color: black;
}